/*Foundation*/
/*Layout*/
.page-header {
  background-color: #FFF7EF;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header h1 {
  color: #707070;
  margin-top: 2rem;
  margin-left: 1rem;
}

.page-header #form {
  margin-right: 2rem;
  margin-top: 2rem;
}

.page-header #form #stbn {
  margin-top: 1px;
}

.page-top {
  background-image: url(./images/image1.png);
  background-position: left;
  background-size: 80%;
  width: 150%;
  height: 270px;
}

.page-top h1 {
  color: #FFFFFF;
  padding-top: 120px;
  padding-left: 15px;
}

.page-2nd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 700px;
  background-color: #FFFDFA;
}

.page-2nd .item1 {
  background-image: url(./images/image2.png);
  background-position: center;
  background-size: 80%;
  width: 50%;
  padding-left: 4rem;
  padding-top: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.page-2nd .item1 .tagname {
  color: #FFFFFF;
  font: Roboto;
}

.page-2nd .item1 .coments1 {
  font: M1m;
  background-color: rgba(255, 255, 255, 0.4);
  width: 85%;
  height: 100px;
  margin-top: 270px;
}

.page-2nd .item1 .coments1 p {
  margin-top: 15px;
  font-size: 60%;
}

.page-2nd .item1 .coments2 {
  font: M1m;
  background-color: rgba(255, 255, 255, 0.4);
  width: 85%;
  height: 100px;
  margin-top: 10px;
}

.page-2nd .item1 .coments2 p {
  margin-top: 15px;
  font-size: 60%;
}

.page-2nd .item2 {
  background-image: url(./images/image3.png);
  background-position: center;
  background-size: 80%;
  width: 50%;
  padding-left: 4.5rem;
  padding-top: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.page-2nd .item2 .tagname {
  color: #FFFFFF;
  font: Roboto;
}

.page-2nd .item2 .coments1 {
  font: M1m;
  background-color: rgba(255, 255, 255, 0.4);
  width: 85%;
  height: 100px;
  margin-top: 270px;
}

.page-2nd .item2 .coments1 p {
  margin-top: 15px;
  font-size: 60%;
}

.page-2nd .item2 .coments2 {
  font: M1m;
  background-color: rgba(255, 255, 255, 0.4);
  width: 85%;
  height: 100px;
  margin-top: 10px;
}

.page-2nd .item2 .coments2 p {
  margin-top: 15px;
  font-size: 60%;
}

.page-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 450px;
  background-image: url(./images/image4.png);
  background-position: center;
  background-image: 10%;
  margin-bottom: 0;
}

.page-map .map-text {
  background-color: rgba(0, 0, 0, 0.5);
  width: 60%;
  color: #FFFFFF;
  font: M1m;
}

.page-map .map-text h2 {
  margin-top: 3rem;
  margin-left: 2rem;
}

.page-map .map-text p {
  margin-top: 2.5rem;
  margin-left: 2rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./images/image5.png);
  bottom: 0;
  width: 100%;
  height: 80px;
  color: #FFFFFF;
  font-family: 'Courier New', Courier, monospace;
}

footer tr {
  list-style-type: none;
}

footer tr .shopinfo {
  font-size: 0.8rem;
  text-align: center;
}

footer tr {
  list-style-type: none;
}

footer tr .copyright {
  font-size: 0.6rem;
  text-align: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main article {
  width: 75%;
}

main aside {
  background-color: #F2EDE9;
  width: 307px;
  padding-left: 2rem;
  color: #707070;
}

main aside .menu-title {
  margin-top: 3rem;
}

main aside h3 {
  margin-top: 2rem;
}

main aside .sub-menu {
  list-style-type: none;
  line-height: 3rem;
}

.p2-page-top {
  background-image: url(./images/image2-1.png);
  background-position: left;
  background-size: 80%;
  width: 150%;
  height: 150px;
}

.p2-page-top .p2-top-label {
  background-color: rgba(0, 0, 0, 0.5);
  height: 150px;
  width: 66.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  color: #FFFFFF;
  padding-top: 60px;
  padding-left: 15px;
}

.p2-page-top .p2-top-label h1 {
  font-size: 30px;
}

.p2-page-top .p2-top-label p {
  font-size: 10px;
  padding-top: 17px;
  padding-left: 10px;
}

.p2-2nd-top {
  background-color: #FFFDFA;
  padding: 30px;
  color: #3C2A10;
  font-family: 'Times New Roman', Times, serif;
}

.p2-2nd-top p {
  padding-top: 30px;
}

.p2-grid {
  background-color: #FFFDFA;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  font-weight: 100;
  position: relative;
}

.p2-grid .item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.p2-grid .item1 img {
  width: 45%;
  height: 300px;
}

.p2-grid .item1 .burgardetail1 {
  background-color: #3C2B1C;
  width: 45%;
  height: 300px;
  padding-left: 30px;
  padding-top: 30px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}

.p2-grid .item1 .burgardetail1 h1 {
  color: #FFFFFF;
  font-size: 17px;
}

.p2-grid .item1 .burgardetail1 h2 {
  color: #FFFFFF;
  font-size: 12px;
  padding-top: 30px;
}

.p2-grid .item1 .burgardetail1 p {
  color: #FFFFFF;
  font-size: 10px;
  padding-top: 25px;
  padding-right: 30px;
}

.p2-grid .item1 .burgardetail1 .p2-button-wrap {
  margin-top: 30px;
  text-align: center;
  position: relative;
}

.p2-grid .item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.p2-grid .item2 img {
  width: 45%;
  height: 300px;
}

.p2-grid .item2 .burgardetail2 {
  background-color: #3C2B1C;
  width: 45%;
  height: 300px;
  padding-left: 30px;
  padding-top: 30px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}

.p2-grid .item2 .burgardetail2 h1 {
  color: #FFFFFF;
  font-size: 17px;
}

.p2-grid .item2 .burgardetail2 h2 {
  color: #FFFFFF;
  font-size: 12px;
  padding-top: 30px;
}

.p2-grid .item2 .burgardetail2 p {
  color: #FFFFFF;
  font-size: 10px;
  padding-top: 25px;
  padding-right: 30px;
}

.p2-grid .item2 .burgardetail2 .p2-button-wrap {
  margin-top: 30px;
  text-align: center;
  position: relative;
}

.p2-grid .item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.p2-grid .item3 img {
  width: 45%;
  height: 300px;
}

.p2-grid .item3 .burgardetail3 {
  background-color: #3C2B1C;
  width: 45%;
  height: 300px;
  padding-left: 30px;
  padding-top: 30px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}

.p2-grid .item3 .burgardetail3 h1 {
  color: #FFFFFF;
  font-size: 17px;
}

.p2-grid .item3 .burgardetail3 h2 {
  color: #FFFFFF;
  font-size: 12px;
  padding-top: 30px;
}

.p2-grid .item3 .burgardetail3 p {
  color: #FFFFFF;
  font-size: 10px;
  padding-top: 25px;
  padding-right: 30px;
}

.p2-grid .item3 .burgardetail3 .p2-button-wrap {
  margin-top: 30px;
  text-align: center;
  position: relative;
}

.p3-page-top {
  background-image: url(./images/image3-1.png);
  background-position: left;
  background-size: 80%;
  width: 150%;
  height: 150px;
}

.p3-page-top .p3-top-label {
  background-color: rgba(0, 0, 0, 0.5);
  height: 150px;
  width: 66.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  color: #FFFFFF;
  padding-top: 60px;
  padding-left: 15px;
}

.p3-page-top .p3-top-label h1 {
  font-size: 25px;
}

.p3-article {
  padding-left: 60px;
  padding-right: 150px;
  padding-top: 60px;
  padding-bottom: 150px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3C2A10;
  background-color: #FFFDFA;
}

.p3-article h2 {
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: 100;
}

.p3-article p {
  font-size: 16px;
  padding-bottom: 70px;
}

.p3-article h3 {
  padding-bottom: 50px;
  font-size: 28px;
  font-weight: 100;
}

.p3-article h4 {
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: 100;
}

.p3-article h5 {
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: 100;
}

.p3-article h6 {
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: 100;
}

.p3-article .blockquote {
  background-color: #F5F5F5;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 30px;
  padding-right: 50px;
}

.p3-article .p3-image1 {
  width: 100%;
  height: 280px;
  margin-bottom: 40px;
}

.p3-article .p3-image-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 60px;
  height: 250px;
  width: 100%;
}

.p3-article .p3-image-left img {
  position: relative;
  width: 40%;
}

.p3-article .p3-image-left p {
  position: relative;
  width: 55%;
  font-size: 16px;
  margin-left: 20px;
}

.p3-article .p3-image-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 60px;
  height: 230px;
  width: 100%;
}

.p3-article .p3-image-right p {
  position: relative;
  width: 55%;
  font-size: 16px;
  margin-right: 20px;
}

.p3-article .p3-image-right img {
  position: relative;
  width: 40%;
}

.p3-article .p3-image-center {
  position: relative;
  margin-bottom: 60px;
}

.p3-article .p3-image-center img {
  position: relative;
  width: 370px;
  height: 230px;
  margin-left: 25%;
}

.p3-article .p3-grid {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
  gap: 10px;
  width: 100%;
}

.p3-article .p3-grid .item {
  position: relative;
  width: 100%;
}

.p3-article .p3-list1 {
  margin-left: 50px;
  margin-bottom: 30px;
  font-size: 16px;
}

.p3-article .p3-list2 {
  list-style-type: none;
  margin-left: 80px;
  margin-bottom: 30px;
  font-size: 16px;
}

.p3-article .p3-list3 {
  margin-left: 50px;
  margin-bottom: 70px;
  font-size: 16px;
}

.p3-article .p3-list4 {
  margin-left: 50px;
  margin-bottom: 30px;
  list-style-type: none;
  font-size: 16px;
}

.p3-article .p3-list5 {
  list-style-type: none;
  margin-left: 80px;
  margin-bottom: 30px;
  font-size: 16px;
}

.p3-article .p3-list6 {
  margin-left: 50px;
  margin-bottom: 70px;
  list-style-type: none;
  font-size: 16px;
}

.p3-article .p3-example {
  background-color: #F5F5F5;
  margin-bottom: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.p3-article table {
  position: relative;
  border-collapse: collapse;
  height: 300px;
  width: 100%;
}

.p3-article table .th1 {
  border: solid 1px #707070;
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 100;
  width: 30%;
  padding-left: 0px;
  text-align: left;
  padding-left: 10px;
}

.p3-article table .th2 {
  border: solid 1px #707070;
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 100;
  width: 70%;
  text-align: left;
  padding-left: 10px;
}

.p3-article .p3-button {
  margin-top: 50px;
}

.p3-article .bold {
  margin-top: 50px;
}

.p4-page-top {
  background-image: url(./images/image4-1.png);
  background-position: left;
  background-size: 80%;
  width: 150%;
  height: 150px;
}

.p4-page-top .p4-top-label {
  background-color: rgba(0, 0, 0, 0.5);
  height: 150px;
  width: 66.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  color: #FFFFFF;
  padding-top: 60px;
  padding-left: 15px;
}

.p4-page-top .p4-top-label h1 {
  font-size: 25px;
}

/*Object/Component*/
#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 300px;
  margin-top: 1rem;
}

#form #sbox {
  height: 1.7rem;
  border-radius: 5px;
  border-style: solid;
  border-color: #707070;
  background-image: url(./images/Lupe.png);
  background-size: auto 60%;
  background-position: 8px center;
  outline: 0;
  border-width: thin;
  background-color: #fff;
}

#form #sbox :placeholder-shown {
  margin-left: 10px;
}

#form #sbtn {
  margin-left: 0.5rem;
  background: none;
  color: #707070;
  height: 1.7rem;
}

.p2-button {
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #707070;
  background-color: #ffffff;
  padding: 13px 40px;
  border-radius: 20px;
}

.p2-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 90px;
  color: #707070;
}

.p2-page .p2-item-num {
  background-color: #FFFF;
  border: 1px solid #707070;
  width: 18px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 3px;
}

.p2-page .p2-item-num1 {
  background-color: #3C2B1C;
  border: 1px solid #707070;
  width: 18px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 3px;
  color: #FFFF;
}

.p3-button a {
  display: inline-block;
  width: 250px;
  height: 70px;
  text-align: center;
  outline: none;
  padding-top: 10px;
  border: 1px solid #707070;
  border-radius: 10px;
  background-color: #F2EDE9;
  line-height: 50px;
  text-decoration: none;
  font-size: 10px;
}

/*Object/Project*/
/*Object/Utility*/
/*# sourceMappingURL=style.css.map */