.page-2nd{
    background-color: #FFFDFA;
    margin-top: 40px;  
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
    @include pc{
        display: flex;
        height: 800px;
    } 
    @include tab {
        display: flex;
        height: 800px;
    }
    @include sp{

    }
    .item1{
        background-image: url(./images/image2.png);
        margin-right: 10px;
        .tagname{
            margin-top: 20px;
            margin-left: 20px;
            position: relative;
            color: #FFFFFF;
            font-size: 35px;
        }
        .tagname::after{
            content: '';
            display: block;
            background: #ffff;
            height: 3px;
            width: 28px;
            margin-bottom: 5px;
        }
        .coments1{
            @include pc{
                margin-top: 500px;
            }
            @include tab{
                margin-top: 400px;
            }
            @include sp {
                margin-top: 500px;
            }
            margin-left: 20px;
            margin-right: 20px;
            position: relative;
            color: #3C2A10;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
            background-color: rgba($color: #FFFFFF, $alpha: 0.4);  
        }
        .coments2{
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 10px;
            position: relative;
            font-family: M+ 1m;
            color: #3C2A10;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
            background-color: rgba($color: #FFFFFF, $alpha: 0.4);
        }
    }
    .item2{
        background-image: url(./images/image3.png);
        margin-left: 10px;
        .tagname{
            margin-top: 20px;
            margin-left: 20px;
            position: relative;
            color: #FFFFFF;
            font-size: 35px;
        }
        .tagname::after{
            content: '';
            display: block;
            background: #ffff;
            height: 3px;
            width: 28px;
            margin-bottom: 5px;
        }
        .coments1{
            @include pc{
                margin-top: 500px;
            }
            @include tab{
                margin-top: 400px;
            }
            @include sp {
                margin-top: 500px;
            }
            margin-left: 20px;
            margin-right: 20px;
            position: relative;
            color: #3C2A10;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
            background-color: rgba($color: #FFFFFF, $alpha: 0.4);  
        }
        .coments2{
            position: relative;
            color: #3C2A10;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
            background-color: rgba($color: #FFFFFF, $alpha: 0.4);
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 10px;
        }
    }
}

.page-map{
        display: flex;
        width: 100%;
        height: 450px;
        background-image: url(./images/image4.png);
        background-position: center;
        background-image: 10%;
        margin-bottom: 0;
        .map-text{
            background-color: rgba($color: #000000, $alpha: 0.5);
            @include pc {
                width: 60%;
            };
            @include tab {
                width: 100%;
            };
            @include sp {
                width: 100%;
            };
            color: #FFFFFF;
            font-family: M+ 1m;
            h2{
            margin-top: 3rem; 
            margin-left: 2rem;
            }
            h2::after{
                content: '';
                display: block;
                background: #ffff;
                height: 3px;
                width: 28px;
                margin-bottom: 5px;
            }
            p{
                margin-top: 2.5rem;
                margin-left: 2rem;
            }

        }
    
}

/*p2*/
.p2-2nd-top{
    background-color: #FFFDFA;
    padding: 30px;
    color: #3C2A10;
    font-family: 'Times New Roman', Times, serif;
    p{
        padding-top: 30px;
    }
}

.p2-grid{
    background-color: #FFFDFA;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    font-weight: 100;
    position: relative;
    .item1{
        @include pc {
            display: flex;
        }
        @include tab {
            display: flex;
        }
       @include sp{
           margin-left: 20px;
       }
        justify-content: center;
        margin-bottom: 15px;
        img{
            @include pc {
                width: 45%;
            }
            @include tab {
                width: 45%;
            }
            @include sp {
                width: 90%;
            }
            height: 300px;
        }
        .burgardetail1{
            background-color: #3C2B1C;
            @include pc {
                width: 45%;
            }
            @include tab {
                width: 45%;
            }
            @include sp {
                width: 90%;
            }
            height: 300px;
            padding-left: 30px;
            padding-top: 30px;
            font-weight: 100;
            font-family: Arial, Helvetica, sans-serif;
            h1{
                color: #FFFFFF;
                font-size: 17px;
            }
            h2{
                color: #FFFFFF;
                font-size: 12px;
                padding-top: 30px;
            }
            p{
                color: #FFFFFF;
                font-size: 10px;
                padding-top: 25px;
                padding-right: 30px;
            }
            .p2-button-wrap{
                margin-top: 30px;
                text-align: center;
                position: relative;
            }
        }  
    }
    .item2{
        @include pc {
            display: flex;
        }
        @include tab {
            display: flex;
        }
       @include sp{
           margin-left: 20px;
       }
        justify-content: center;
        margin-bottom: 15px;
        img{
            @include pc {
                width: 45%;
            }
            @include tab {
                width: 45%;
            }
            @include sp {
                width: 90%;
            }
            height: 300px;
        }
        .burgardetail2{
            background-color: #3C2B1C;
            @include pc {
                width: 45%;
            }
            @include tab {
                width: 45%;
            }
            @include sp {
                width: 90%;
            }
            height: 300px;
            padding-left: 30px;
            padding-top: 30px;
            font-weight: 100;
            font-family: Arial, Helvetica, sans-serif;
            h1{
                color: #FFFFFF;
                font-size: 17px;
            }
            h2{
                color: #FFFFFF;
                font-size: 12px;
                padding-top: 30px;
            }
            p{
                color: #FFFFFF;
                font-size: 10px;
                padding-top: 25px;
                padding-right: 30px;
            }
            .p2-button-wrap{
                margin-top: 30px;
                text-align: center;
                position: relative;
            }
        }  
    }
    .item3{
        @include pc {
            display: flex;
        }
        @include tab {
            display: flex;
        }
       @include sp{
           margin-left: 20px;
       }
        justify-content: center;
        margin-bottom: 15px;
        img{
            @include pc {
                width: 45%;
            }
            @include tab {
                width: 45%;
            }
            @include sp {
                width: 90%;
            }
            height: 300px;
        }
        .burgardetail3{
            background-color: #3C2B1C;
            @include pc {
                width: 45%;
            }
            @include tab {
                width: 45%;
            }
            @include sp {
                width: 90%;
            }
            height: 300px;
            padding-left: 30px;
            padding-top: 30px;
            font-weight: 100;
            font-family: Arial, Helvetica, sans-serif;
            h1{
                color: #FFFFFF;
                font-size: 17px;
            }
            h2{
                color: #FFFFFF;
                font-size: 12px;
                padding-top: 30px;
            }
            p{
                color: #FFFFFF;
                font-size: 10px;
                padding-top: 25px;
                padding-right: 30px;
            }
            .p2-button-wrap{
                margin-top: 30px;
                text-align: center;
                position: relative;
            }
        }  
    }
}   

.p3-article{
    padding-left: 60px;
    padding-right: 150px;
    padding-top: 60px;
    padding-bottom: 150px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3C2A10;
    background-color: #FFFDFA;
    h2{
        padding-bottom: 50px;
        font-size: 36px;
        font-weight: 100;
    }
    p{
        font-size: 16px;
        padding-bottom: 70px;
    }
    h3{
        padding-bottom: 50px;
        font-size: 28px;
        font-weight: 100;
    }
    h4{
        padding-bottom: 50px;
        font-size: 20px;
        font-weight: 100;
    }
    h5{
        padding-bottom: 50px;
        font-size: 20px;
        font-weight: 100;
    }
    h6{
        padding-bottom: 50px;
        font-size: 20px;
        font-weight: 100;
    }
    .blockquote{
        background-color: #F5F5F5;
        margin-bottom: 50px;
        padding-top: 50px;
        padding-left: 50px;
        padding-bottom: 30px;
        padding-right: 50px;
    }
    .p3-image1{
        width: 100%;
        height: 280px;
        margin-bottom: 40px;
    }
    .p3-image-left{
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 60px;
        height: 250px;
        width: 100%;
        img{
            position: relative;
            width: 40%;
        }
        p{
            position: relative;
            width: 55%;
            font-size: 16px;
            margin-left: 20px;
        }
    }
    .p3-image-right{
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 60px;
        height: 230px;
        width: 100%;
        p{
            position: relative;
            width: 55%;
            font-size: 16px;
            margin-right: 20px;
        }
        img{
            position: relative;
            width: 40%;
        }
    }
    .p3-image-center{
        position: relative;
        margin-bottom: 60px;
        text-align: center;
      img{
        position: relative;
        width: 370px;
        height: 230px;
        margin-left: 25%;
        
      }
    }
    .p3-grid{
        position: relative;
        @include pc{
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }
        @include tab{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        @include sp{
            display: grid;
            grid-template-columns: repeat(1,1fr);
        }
        margin-bottom: 50px;
        gap: 10px;
        width: 100%;
        .item{
            position: relative;
            width: 100%;
        }
    }
    .p3-list1{
        margin-left: 50px;
        margin-bottom: 30px;
        font-size: 16px;
    }
    .p3-list2{
        list-style-type: none;
        margin-left: 80px;
        margin-bottom: 30px;
        font-size: 16px
    }
    .p3-list3{
        margin-left: 50px;
        margin-bottom: 70px;
        font-size: 16px
    }
    .p3-list4{
        margin-left: 50px;
        margin-bottom: 30px;
        list-style-type: none;
        font-size: 16px
    }
    .p3-list5{
        list-style-type: none;
        margin-left: 80px;
        margin-bottom: 30px;
        font-size: 16px
    }
    .p3-list6{
        margin-left: 50px;
        margin-bottom: 70px;
        list-style-type: none;
        font-size: 16px
    }
    .p3-example{
        background-color: #F5F5F5;
        margin-bottom: 50px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    table{
        position: relative;
        border-collapse: collapse;
        height: 300px;
        width: 100%;
        .th1{
            border: solid 1px #707070;
            background-color: #FFFFFF;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
            font-weight: 100;
            width: 30%;
            padding-left: 0px;
            text-align: left;
            padding-left: 10px;
        }
        .th2{
            border: solid 1px #707070;
            background-color: #FFFFFF;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
            font-weight: 100;
            width: 70%;
            text-align: left;
            padding-left: 10px;
        }
    }
    .p3-button{
        margin-top: 50px;
    }
    .bold{
        margin-top: 50px;
    }
}