.p3-page-top{
    background-image: url(./images/image3-1.png);
    background-position: left; 
    background-size: 80%;
    width: 150%;
    height: 150px;
    .p3-top-label{
        background-color: rgba($color: #000000, $alpha: 0.5);
        height: 150px;
        width: 66.7%;
        display: flex;
        justify-content: flex-start;
        position: relative ;
        color: #FFFFFF;
        padding-top: 60px;
        padding-left: 15px;
        h1{
            font-size: 25px;
        }
       
    }
}