.page-top{
    background-image: url(./images/image1.png);
    background-position: left; 
    background-size: 80%;
    width: 150%;
    height: 270px;
    h3{
        color: #FFFFFF;
        padding-top: 120px;
        padding-left: 15px;
    }
}