.page-top{
    background-image: url(./images/image1.png);
    background-position: left; 
    background-size: 80%;
    width: 150%;
    height: 270px;
    margin-top: 0;
    h2{
        color: #FFFFFF;
        padding-top: 120px;
        padding-left: 15px;
    }
}
/*p2*/
.p2-page-top{
    background-image: url(./images/image2-1.png);
    background-position: left; 
    background-size: 80%;
    width: 150%;
    height: 150px;
    .p2-top-label{
        background-color: rgba($color: #000000, $alpha: 0.5);
        height: 150px;
        @include breakpoint (pc) {
            width: 66.7%;
        }
        @include breakpoint (tablet) {
            width: 100%;
        }
        @include breakpoint (sph) {
            width: 100%;
        }
        display: flex;
        justify-content: flex-start;
        position: relative ;
        color: #FFFFFF;
        padding-top: 60px;
        padding-left: 15px;
        h1{
            font-size: 30px;
        }
        p{
            font-size: 10px;
            padding-top: 17px;
            padding-left: 10px;
        }
    }
}
/*p3*/
.p3-page-top{
    background-image: url(./images/image3-1.png);
    background-position: left; 
    background-size: 80%;
    width: 150%;
    height: 150px;
    .p3-top-label{
        background-color: rgba($color: #000000, $alpha: 0.5);
        height: 150px;
        width: 66.7%;
        display: flex;
        justify-content: flex-start;
        position: relative ;
        color: #FFFFFF;
        padding-top: 60px;
        padding-left: 15px;
        h1{
            font-size: 25px;
        }
       
    }
}
/*p4*/
.p4-page-top{
    background-image: url(./images/image4-1.png);
    background-position: left; 
    background-size: 80%;
    width: 150%;
    height: 150px;
    .p4-top-label{
        background-color: rgba($color: #000000, $alpha: 0.5);
        height: 150px;
        width: 66.7%;
        display: flex;
        justify-content: flex-start;
        position: relative ;
        color: #FFFFFF;
        padding-top: 60px;
        padding-left: 15px;
        h1{
            font-size: 25px;
        }
       
    }
}

