main{
    @include breakpoint (pc) {
        display: flex;
    @include breakpoint (tablet){}
    }
    article{
        @include breakpoint (pc) {
            width: 75%;
        }
        @include breakpoint (tablet) {
            width: 100%;
        }
        @include breakpoint (sph)  {
            width: 100%;
        }
    }
    aside{
        background-color: #F2EDE9;
        width: 307px;
        padding-left: 2rem;
        color: #707070;
        .menu-title{
            @include breakpoint (pc){
                margin-top: 3rem;
            }
            @include breakpoint (tablet){
                display: none;
            }
            @include breakpoint (sph){
                display: none;
            }
        }
        h3{
            margin-top: 2rem;
        }
        .sub-menu{
            list-style-type: none;
            line-height: 3rem;
            
        }
    }
}

.show {
    transform: translate3d(-300px, 0, 0);
}
.wrapper, aside {
    transition: transform 0.1s;
}

aside{
    @include breakpoint (tablet){
        position: fixed;
        right: -300px;
        top: 0;
        width: 300px;
        height: 100%;
    }
    @include breakpoint (sph){
        position: fixed;
        right: -300px;
        top: 0;
        width: 300px;
        height: 100%;
    }
}